/* Backgrounds */
/* keys */
/* Text */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.5s ease-in-out;
}

body {
  font-family: "Spartan", sans-serif;
  background-color: #3a4764;
  height: 100vh;
}

header {
  color: #ffffff;
}

.container {
  padding: 1.7rem 1rem 0;
  max-width: 600px;
  margin: auto;
}

.d-flex {
  display: flex;
}

.navbar {
  justify-content: space-between;
}

.logo {
  font-size: 2rem;
}

.themeToggle,
.navbar {
  align-items: flex-end;
}

.themeToggle {
  padding-bottom: 5px;
}

.themeToggle p {
  text-transform: uppercase;
  padding-bottom: 5px;
  font-size: 13px;
  margin-right: 10px;
  letter-spacing: 0.5px;
}

.theme {
  text-align: center;
  letter-spacing: 4px;
  font-size: 12px;
  margin-bottom: 3px;
}

.btnContainer,
.keyPad {
  background-color: #232c43;
}

.btnContainer {
  padding: 5px 7px;
  border-radius: 14px;
  min-width: 74px;
  position: relative;
  height: 30px;
  cursor: pointer;
}

.tgBtn {
  width: 17px;
  height: 17px;
  border-radius: 100%;
  background-color: #d03f2f;
  position: absolute;
  left: 8.5px;
  top: 7.5px;
}

.screen {
  min-height: 95px;
  background-color: #182034;
  text-align: right;
  font-size: 2rem;
  padding: 1.5rem 2rem 2rem;
  margin-top: 1rem;
  border-radius: 10px;
}

.keyPad {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: 1rem;
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
  /* place-items: center; */
}

.btnReset {
  grid-row: 5/5;
  grid-column: 1/3;
}

.btnEqual {
  grid-column: 3/5;
}

.btn {
  font-family: "Spartan", sans-serif;
  color: #444b5a;
  padding: 1rem;
  font-size: 1.8rem;
  font-weight: 700;
  border: none;
  background-color: #eae3dc;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 5px 0px 0px #b4a597;
  height: 77px;
  transition: transform 0.5s ease-out;
}

.pressedBtn {
  transform: scale(1.1);
}

.btnDel,
.btnReset {
  background-color: #637097;
  color: #ffffff;
  box-shadow: 0px 5px 0px 0px #404e72;
}

.btnEqual {
  background-color: #d03f2f;
  color: #ffffff;
  box-shadow: 0px 5px 0px 0px #93261a;
}

.btnReset,
.btnEqual {
  font-size: 1.2rem;
}

.btnDel {
  font-size: 1.1rem;
}

.btn:focus {
  border: 3px dashed #444b5a;
}

.btnDel:focus, .btnReset:focus, .btnEqual:focus {
  border: 3px dashed #ffffff;
}

.light {
  background-color: #e6e6e6;
}
.light header {
  color: #35352c;
}
.light .btnContainer,
.light .keyPad {
  background-color: #d1cccc;
}
.light .tgBtn {
  background-color: #ca5502;
  left: 24.5px;
}
.light .screen {
  background-color: #ededed;
}
.light .btn {
  color: #35352c;
  background-color: #e5e4e1;
  box-shadow: 0px 5px 0px 0px #a69d91;
}
.light .btnDel,
.light .btnReset {
  background-color: #377f86;
  box-shadow: 0px 5px 0px 0px #1b5f65;
}
.light .btnEqual {
  background-color: #ca5502;
  box-shadow: 0px 5px 0px 0px #893901;
}
.light .btn:focus {
  border: 3px dashed #35352c;
}
.light .btnDel:focus, .light .btnReset:focus, .light .btnEqual:focus {
  border: 3px dashed #ffffff;
}

.violet {
  background-color: #160628;
}
.violet header {
  color: #ffe53d;
}
.violet .btnContainer,
.violet .keyPad {
  background-color: #1d0934;
}
.violet .tgBtn {
  background-color: #00e0d1;
  left: 44.5px;
}
.violet .screen {
  background-color: #1d0934;
}
.violet .btn {
  color: #ffe53d;
  background-color: #341c4f;
  box-shadow: 0px 5px 0px 0px #871c9c;
}
.violet .btnDel,
.violet .btnReset {
  color: #ffffff;
  background-color: #58077d;
  box-shadow: 0px 5px 0px 0px #bc15f4;
}
.violet .btnEqual {
  color: #871c9c;
  background-color: #00e0d1;
  box-shadow: 0px 5px 0px 0px #6cf9f2;
}
.violet .btn:focus {
  border: 3px dashed #ffe53d;
}
.violet .btnDel:focus, .violet .btnReset:focus {
  border: 3px dashed #ffffff;
}
.violet .btnEqual:focus {
  border: 3px dashed #871c9c;
}

@media (min-width: 768px) {
  body {
    height: unset;
    margin-top: 5rem;
  }
}